# Production setup - customize for your domain:
# yourdomain.com {
#     reverse_proxy site:80
# }

# Development:
:80 {
	reverse_proxy site:80
}

# Production setup - customize for your domain:
# yourdomain.com {
#     reverse_proxy site:80
# }
